[Desktop Entry]
Encoding=UTF-8
Name=Gq
Comment=Interactive graphical LDAP browser
Comment[pl]=Klient LDAP
Icon=gq.png
Exec=gq
Terminal=false
Type=Application
Categories=GTK;Network;Database;
# vi: encoding=utf-8
