[Desktop Entry]
Name=Gq
Comment=Interactive graphical LDAP browser
Comment[pl]=Klient LDAP
Icon=gq.png
Exec=gq
Terminal=0
Type=Application
# vi: encoding=utf-8
